.App{
  margin: 1% 2% ;
}
.logo{
  width: 10%;
}
.toolbarGrid{
  background-color: #CBDEF5;
  padding: 15px;
  border-radius: 3px;
}
.toolbarItem{
  background-color: #F1F4F8 !important;
}
.tableHead{
  background-color: #CBDEF5;
  margin-top: 5px;
}